BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:   false
  AfterClass:       false
  AfterControlStatement: false
  AfterEnum:        false
  AfterFunction:    true
  AfterNamespace:   false
  AfterStruct:      false
  AfterUnion:       false
  AfterExternBlock: false
  BeforeCatch:      true
  BeforeElse:       true
  IndentBraces:     false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ConstructorInitializerIndentWidth: 8
IndentWidth: 4
IndentWrappedFunctionNames: true
DerivePointerAlignment: false
FixNamespaceComments: true
PointerAlignment: Left
TabWidth: 4
NamespaceIndentation: None
...
